.moon-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.moon-outer {
  height: 550px;
  width: 550px;
  border: solid rgba(255, 255, 255, 0.295) 1px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.moon {
  height: 250px;
  width: 250px;
  background-color: rgba(131, 131, 131, 0.507);
  background: linear-gradient(to top right, rgba(131, 131, 131, 0.171) 0%, rgb(131, 131, 131) 90%);
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}