header {
  color: black;
  background-color: rgb(165, 165, 165);
  height: 5em;
  margin: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
}